body{
  background: #664420 url(frame.png) fixed;
  background-size: 100% 100%;
}
@font-face {
    font-family: Hill_House;
    src: url(Hill_House.otf);
}

a{
  text-decoration: none;
  color: white;
}

#container{
    width:85%;
    height: 100%;
    margin: 3% auto;
    font-size: 1.0vw;
}

#containerSmol{
    width:65%;
    height: 100%;
    margin: 3% auto;
    font-size: 0.8vw;
}

h2{
  font-family: Hill_House;
  text-align: center;
  font-weight: normal;
}

#container #h2Container{
    padding-right: 7px;
    margin: auto;
    height: 100%;
    width: 20%;
    background: url(Plaque.png) center no-repeat;
    background-size: 100% 100%;
}

#container #h2Container h2{
    padding: 15%;
    font-family: Hill_House;
    text-align: center;
    font-weight: normal;
}

#container #description{
    margin: 2% auto;
    font-family: Hill_House;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
    width: 55%;
    text-align: center;
    background: url(paraBorder.gif) center no-repeat;
    background-size: 100% 100%;
}

#container p{
    font-family: Hill_House;
    width: 100%;
    text-align: center;
}

#container #roomButton p{
  font-size: 0.9vw;
}

#container div{
    text-align: center;
}

#containerSmol p{
    font-family: Hill_House;
    width: 100%;
    text-align: center;
}

#containerSmol #roomButton p{
  font-size: 0.9vw;
}

#containerSmol div{
    text-align: center;
}

#normalButton{
    border-radius: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-color: #99CCFF;
    font-family: Hill_House;
    background-color: #204266;
    color: white;
    font-size:1.0vw;
    margin: 5px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.5s;
}

#normalButton:hover {
    background-color: #204266;
    color: #33CCCC;
    box-shadow: none;
}

#normalButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#normalButton span:after {
  font-family: Hil_House;
  font-size: 1.0vw;
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#normalButton:hover span {
  padding-right: 1.0vw;
}

#normalButton:hover span:after {
  opacity: 1;
  right: 0;
}
